<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=7b40532e20053a9bf551aaccafc19867"  #Make sure to change ******* to your API key.
r = requests.get(url)
data = r.text

In [3]:
data

'{"success":true,"timestamp":1651126083,"base":"EUR","date":"2022-04-28","rates":{"AED":3.861095,"AFN":91.980882,"ALL":120.43005,"AMD":489.016165,"ANG":1.907215,"AOA":429.36855,"ARS":120.921811,"AUD":1.481248,"AWG":1.892654,"AZN":1.796256,"BAM":1.950648,"BBD":2.136703,"BDT":91.512476,"BGN":1.958361,"BHD":0.396254,"BIF":2173.10003,"BMD":1.051182,"BND":1.458608,"BOB":7.286043,"BRL":5.218704,"BSD":1.058288,"BTC":2.6736232e-5,"BTN":81.032348,"BWP":12.781044,"BYN":3.559509,"BYR":20603.172987,"BZD":2.133113,"CAD":1.349587,"CDF":2114.978639,"CHF":1.02054,"CLF":0.032265,"CLP":890.298781,"CNY":6.944525,"COP":4165.131144,"CRC":700.296166,"CUC":1.051182,"CUP":27.856331,"CVE":109.972832,"CZK":24.541943,"DJF":188.397686,"DKK":7.441645,"DOP":58.225864,"DZD":152.123974,"EGP":19.452171,"ERN":15.767737,"ETB":54.348029,"EUR":1,"FJD":2.273389,"FKP":0.807983,"GBP":0.839821,"GEL":3.200865,"GGP":0.807983,"GHS":7.963344,"GIP":0.807983,"GMD":56.563707,"GNF":9400.960804,"GTQ":8.10509,"GYD":221.401796,"HKD":8.248896,"HNL":25.974241,"HRK":7.565676,"HTG":115.356115,"HUF":377.746616,"IDR":15222.170817,"ILS":3.4891,"IMP":0.807983,"INR":80.564187,"IQD":1544.487333,"IRR":44465.011065,"ISK":137.231893,"JEP":0.807983,"JMD":163.641363,"JOD":0.745316,"JPY":136.75409,"KES":121.727052,"KGS":88.436179,"KHR":4279.692875,"KMF":485.646321,"KPW":946.064191,"KRW":1338.360059,"KWD":0.321651,"KYD":0.881949,"KZT":472.993386,"LAK":12740.829884,"LBP":1600.033925,"LKR":375.676556,"LRD":159.727391,"LSL":15.578785,"LTL":3.103868,"LVL":0.635849,"LYD":5.023307,"MAD":10.523941,"MDL":19.561644,"MGA":4276.977923,"MKD":61.452323,"MMK":1959.356424,"MNT":3148.14717,"MOP":8.553413,"MRO":375.271899,"MUR":45.517028,"MVR":16.188486,"MWK":864.203825,"MXN":21.530628,"MYR":4.586322,"MZN":67.096547,"NAD":15.578674,"NGN":436.682155,"NIO":37.903105,"NOK":9.839694,"NPR":129.653779,"NZD":1.618916,"OMR":0.404611,"PAB":1.058288,"PEN":4.047585,"PGK":3.729804,"PHP":55.002592,"PKR":196.438317,"PLN":4.704018,"PYG":7235.109459,"QAR":3.827383,"RON":4.94684,"RSD":117.596026,"RUB":77.978278,"RWF":1084.927963,"SAR":3.94264,"SBD":8.460254,"SCR":14.503098,"SDG":469.878363,"SEK":10.38196,"SGD":1.458289,"SHP":1.447893,"SLL":13060.940126,"SOS":608.634075,"SRD":21.868801,"STD":21757.351183,"SVC":9.26031,"SYP":2641.042423,"SZL":16.800266,"THB":36.237433,"TJS":13.175172,"TMT":3.679138,"TND":3.218197,"TOP":2.42413,"TRY":15.584971,"TTD":7.190297,"TWD":31.071372,"TZS":2440.845407,"UAH":32.012456,"UGX":3767.391069,"USD":1.051182,"UYU":43.086122,"UZS":11875.692498,"VEF":224774543910.08463,"VND":24137.773455,"VUV":118.343838,"WST":2.717771,"XAF":654.212712,"XAG":0.045623,"XAU":0.000561,"XCD":2.840873,"XDR":0.782022,"XOF":654.218919,"XPF":118.150835,"YER":263.05846,"ZAR":16.787118,"ZMK":9461.902194,"ZMW":18.016564,"ZWL":338.48027}}'

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# checking the type of the data
type(data)

str

In [6]:
# importing json module to extract the data's dictionary from the data string
import json
data_dict = json.loads(data)
data_dict

{'success': True,
 'timestamp': 1651126083,
 'base': 'EUR',
 'date': '2022-04-28',
 'rates': {'AED': 3.861095,
  'AFN': 91.980882,
  'ALL': 120.43005,
  'AMD': 489.016165,
  'ANG': 1.907215,
  'AOA': 429.36855,
  'ARS': 120.921811,
  'AUD': 1.481248,
  'AWG': 1.892654,
  'AZN': 1.796256,
  'BAM': 1.950648,
  'BBD': 2.136703,
  'BDT': 91.512476,
  'BGN': 1.958361,
  'BHD': 0.396254,
  'BIF': 2173.10003,
  'BMD': 1.051182,
  'BND': 1.458608,
  'BOB': 7.286043,
  'BRL': 5.218704,
  'BSD': 1.058288,
  'BTC': 2.6736232e-05,
  'BTN': 81.032348,
  'BWP': 12.781044,
  'BYN': 3.559509,
  'BYR': 20603.172987,
  'BZD': 2.133113,
  'CAD': 1.349587,
  'CDF': 2114.978639,
  'CHF': 1.02054,
  'CLF': 0.032265,
  'CLP': 890.298781,
  'CNY': 6.944525,
  'COP': 4165.131144,
  'CRC': 700.296166,
  'CUC': 1.051182,
  'CUP': 27.856331,
  'CVE': 109.972832,
  'CZK': 24.541943,
  'DJF': 188.397686,
  'DKK': 7.441645,
  'DOP': 58.225864,
  'DZD': 152.123974,
  'EGP': 19.452171,
  'ERN': 15.767737,
  'ETB': 54.348029,
  'EUR': 1,
  'FJD': 2.273389,
  'FKP': 0.807983,
  'GBP': 0.839821,
  'GEL': 3.200865,
  'GGP': 0.807983,
  'GHS': 7.963344,
  'GIP': 0.807983,
  'GMD': 56.563707,
  'GNF': 9400.960804,
  'GTQ': 8.10509,
  'GYD': 221.401796,
  'HKD': 8.248896,
  'HNL': 25.974241,
  'HRK': 7.565676,
  'HTG': 115.356115,
  'HUF': 377.746616,
  'IDR': 15222.170817,
  'ILS': 3.4891,
  'IMP': 0.807983,
  'INR': 80.564187,
  'IQD': 1544.487333,
  'IRR': 44465.011065,
  'ISK': 137.231893,
  'JEP': 0.807983,
  'JMD': 163.641363,
  'JOD': 0.745316,
  'JPY': 136.75409,
  'KES': 121.727052,
  'KGS': 88.436179,
  'KHR': 4279.692875,
  'KMF': 485.646321,
  'KPW': 946.064191,
  'KRW': 1338.360059,
  'KWD': 0.321651,
  'KYD': 0.881949,
  'KZT': 472.993386,
  'LAK': 12740.829884,
  'LBP': 1600.033925,
  'LKR': 375.676556,
  'LRD': 159.727391,
  'LSL': 15.578785,
  'LTL': 3.103868,
  'LVL': 0.635849,
  'LYD': 5.023307,
  'MAD': 10.523941,
  'MDL': 19.561644,
  'MGA': 4276.977923,
  'MKD': 61.452323,
  'MMK': 1959.356424,
  'MNT': 3148.14717,
  'MOP': 8.553413,
  'MRO': 375.271899,
  'MUR': 45.517028,
  'MVR': 16.188486,
  'MWK': 864.203825,
  'MXN': 21.530628,
  'MYR': 4.586322,
  'MZN': 67.096547,
  'NAD': 15.578674,
  'NGN': 436.682155,
  'NIO': 37.903105,
  'NOK': 9.839694,
  'NPR': 129.653779,
  'NZD': 1.618916,
  'OMR': 0.404611,
  'PAB': 1.058288,
  'PEN': 4.047585,
  'PGK': 3.729804,
  'PHP': 55.002592,
  'PKR': 196.438317,
  'PLN': 4.704018,
  'PYG': 7235.109459,
  'QAR': 3.827383,
  'RON': 4.94684,
  'RSD': 117.596026,
  'RUB': 77.978278,
  'RWF': 1084.927963,
  'SAR': 3.94264,
  'SBD': 8.460254,
  'SCR': 14.503098,
  'SDG': 469.878363,
  'SEK': 10.38196,
  'SGD': 1.458289,
  'SHP': 1.447893,
  'SLL': 13060.940126,
  'SOS': 608.634075,
  'SRD': 21.868801,
  'STD': 21757.351183,
  'SVC': 9.26031,
  'SYP': 2641.042423,
  'SZL': 16.800266,
  'THB': 36.237433,
  'TJS': 13.175172,
  'TMT': 3.679138,
  'TND': 3.218197,
  'TOP': 2.42413,
  'TRY': 15.584971,
  'TTD': 7.190297,
  'TWD': 31.071372,
  'TZS': 2440.845407,
  'UAH': 32.012456,
  'UGX': 3767.391069,
  'USD': 1.051182,
  'UYU': 43.086122,
  'UZS': 11875.692498,
  'VEF': 224774543910.08463,
  'VND': 24137.773455,
  'VUV': 118.343838,
  'WST': 2.717771,
  'XAF': 654.212712,
  'XAG': 0.045623,
  'XAU': 0.000561,
  'XCD': 2.840873,
  'XDR': 0.782022,
  'XOF': 654.218919,
  'XPF': 118.150835,
  'YER': 263.05846,
  'ZAR': 16.787118,
  'ZMK': 9461.902194,
  'ZMW': 18.016564,
  'ZWL': 338.48027}}

In [7]:
# Turn the data into a dataframe

dataframe = pd.DataFrame(data_dict)
dataframe.head()

     success   timestamp base        date       rates
AED     True  1651126083  EUR  2022-04-28    3.861095
AFN     True  1651126083  EUR  2022-04-28   91.980882
ALL     True  1651126083  EUR  2022-04-28  120.430050
AMD     True  1651126083  EUR  2022-04-28  489.016165
ANG     True  1651126083  EUR  2022-04-28    1.907215

In [8]:
# getting the names of the columns 
dataframe.columns

Index(['success', 'timestamp', 'base', 'date', 'rates'], dtype='object')

In [9]:
# Drop unnescessary columns
dataframe.drop(columns=['success', 'timestamp', 'base', 'date'], inplace=True)

In [10]:
dataframe.head()

          rates
AED    3.861095
AFN   91.980882
ALL  120.430050
AMD  489.016165
ANG    1.907215

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [11]:
# Save the Dataframe
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).